.box{
    width: 200px;
    height: 200px;
    background-color: red;
    
    /*transition-property: width, height, background-color;
    transition-duration: 1s, 5s, 1s;
    transition-timing-function: ease;
    transition-delay: 0ms;*/

    transition: width 1s ease, height 5s ease, background-color 1s ease;
}
.box:hover{
    width: 400px;
    height: 400px;
    background-color: aqua;
}

.box1{
    width: 200px;
    height: 200px;
    background-color: coral;

    /*margin: 0px;
    padding: 10px;*/

    /*border: 2px solid black;
    border-radius: 20px;*/

    position: relative;
    top: 0px;
    left: 0px;

    transition: all 1s ease-in-out;
}
.box1:hover{
/*margin: 20px;
padding: 50px;*/

/*border: 5px solid green;
border-radius: 30px;*/

top: 10px;
left: 10px;
}

/*@keyframes pulse{
    0%, 100%{
        background-color: yellow;
    }
    50%{
        background-color: red;
    }
}*/

/*@keyframes moveAround{
    from {
        left: 0px;
    }
    to {
        left: 400px;
    }
}*/
@keyframes moveAround{
    0%, 100% {
        left: 0px;
        top: 0px;
        background-color: red;
    }
    25% {
        left: 200px;
        top: 0px;
        background-color: green;
    }
    50% {
        left: 200px;
        top: 200px;
        background-color: blue;
        border-radius: 100px;
    }
    75% {
        left: 0px;
        top: 200px;
        background-color: yellow;
    }
}

.box2{
    width: 200px;
    height: 200px;
    padding: 10px;
    /*<------for moveAround------>*/
    position: relative;
    background-color: red;
    text-align: center;
    
    /*animation-name: pulse;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-delay: 1s;*/

    /*animation: pulse 2s ease infinite 1s;*/

    animation-name: moveAround;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    
    /*animation-direction: alternate;*/
    animation-direction: normal;

}
